.details-languages{
    font-size:14px;
}
.support_avatar{
    border-right : 2px solid #cacce77a;
}

.services-1 {
    background: #ffffff;
}


.solid_line{
    /* text-shadow: 2px 2px 8px #3e64ff; */
    font-size: 25px !important;
    color : red !important;
}
.navbar-brand:after {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 40px;
    height: 40px;
    content: '';
    background: #3e64ff;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.ftco-navbar-light.scrolled .navbar-brand {
    font-size: 26px;
    color:white;
}

.ftco-navbar-light.scrolled .navbar-brand:after {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 120px;
    height: 120px;
    content: '';
    background: #3e64ff;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.ftco-navbar-light.scrolled .navbar-brand {
    font-size: 26px;
}
